:root {
    --pale_blue: hsl(225, 100%, 94%);
    --bright_blue: hsl(245, 75%, 52%);
    --very_pale_blue: hsl(225, 100%, 98%);
    --desaturated_blue: hsl(224, 23%, 55%);
    --dark_blue: hsl(223, 47%, 23%);
    --white: rgb(255, 255, 255);
    --border-radius: 1rem;
    --active: hsl(245, 83%, 68%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--pale_blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--desaturated_blue);
}

button {
    font-family: 'Red Hat Display', sans-serif;
}

.card {
    background-color: var(--white);
    width: 450px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0px 10px 30px 0px rgba(60, 60, 60, 0.2);
}

.hero {
    width: 100%;
}

.content {
    text-align: center;
}

.content h2 {
    color: var(--dark_blue);
    margin-top: 2.5rem;
    margin-bottom: 0.9rem;
    font-weight: 900;
    font-size: 1.8rem;
}

.content p {
    padding: 0 5rem;
    line-height: 1.6rem;

}

.order {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--very_pale_blue);
    width: 80%;
    margin: 1.2rem auto;
    padding: 1.4rem 0;
    border-radius: var(--border-radius);
}

.order img {
    margin: 0 1.5rem;
}

.order .price {
    margin-right: 4rem;
    line-height: 1.7rem;
}

.order .price h4 {
    color: var(--dark_blue);
    font-weight: 900;
}

.order .price p {
    font-size: 0.9rem;
}

.order a {
    color: var(--bright_blue);
    transition: all 0.3s ease-in-out; 
}

.order a:hover {
    color: var(--active);
    text-decoration: none;
}

.order .change {
    font-size: 0.8rem;
    font-weight: 900;
}

.pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.05rem;
    margin-bottom: 3rem;
}

.btn_pay {
    background-color: var(--bright_blue);
    color: var(--white);
    border: none;
    border-radius: 0.75rem;
    font-weight: 900;
    font-size: 0.9rem;
    width: 80%;
    padding: 0.9rem 0;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px 2px rgba(60, 60, 60, 0.3);
    transition: background-color 0.3s ease-in-out; 
}

.btn_pay:hover {
    background-color: var(--active);
}

.btn_cancel {
    background-color: transparent;
    border: none;
    color: var(--desaturated_blue);
    font-weight: 900;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out; 
}

.btn_cancel:hover {
    color: var(--dark_blue);
}



@media only screen and (max-width: 500px) {

    body {
        background-image: url("/img/pattern-background-mobile.svg");
        font-size: 0.8rem;
    }

    .card {
        max-width: 87%;
    }

    .content h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    .content p {
        line-height: 1.3rem;
        padding: 0 2rem;
    }

    .order {
        width: 90%;
        margin: 1.2rem auto;
        padding: 0.8rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8%;
    }


    .order img {
        margin: 0;
    }

    .order .price {
        margin-right: 0rem;
        line-height: 1.4rem;
    }

    .order .price p {
        font-size: 0.8rem;
    }

    .btn_pay {
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    .btn_cancel {
        font-size: 0.7rem;
    }

    .pay {
        margin-top: 1rem;
        margin-bottom: 1.2rem;
    }

    .order .change {
        font-size: 0.7rem;
    }

}

@media only screen and (max-width: 300px) {
    .order img {
        display: none;
    }

    .order {
        gap: 20%;
    }
}